@mixin h1 {
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Inter", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;

  @media (max-width: 1239px) {
    font-size: 32px;
    line-height: 40px;
  }
}
